# Dependencies
/vendor/
/node_modules/
composer.lock
package-lock.json

# IDE
.idea/
.vscode/
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Testing
.phpunit.result.cache
.phpunit.cache/
coverage/

# Build
/build/
/dist/

# Cache
.php-cs-fixer.cache
.phpstan.cache/
